<div>
    {% for name in rooms %}
        <div>
            {% if request.user  == name.host %}
            <a href="{% url 'update-room' name.id %}"> Edit</a>
            <a href="{% url 'delete-room' name.id%}">Delete</a>
            {% endif %}
            <a href="{% url 'user-profile' name.host.id %}">@{{name.host.username}}</a>
            <h5> {{name.id}} ---- <a href="/room/{{name.id}}">{{name.name}}</a></h5>
            <small>{{name.topic.topic}}</small>
            <hr>
        </div>
    {% endfor %}
</div>